@import "src/styles/design-systems.module";

.forgot-password-form{
  @include flex-column;
  gap: 10px;
  @extend %common-form-rules;

  .MuiButtonBase-root[type='submit'] {
    background-color: $deep-navy;
    text-transform: none;
  }

  .MuiButtonBase-root:disabled {
    background-color: $gray-muted;
    color: $white-pure;
  }
}
.forgot-password-root {
  .bg-image {
    position: absolute;
    @include responsive-image;
    min-height: 500px;

    z-index: -1;
    filter: brightness(0.45) contrast(0.8);
  }

  .logo {
    width: 150px;
    object-fit: contain;
  }

  .form-container {
    @extend .center-element;
    top: 52%;
    position: absolute;
    width: 500px;
    background-color: $white-pure;
    padding: 80px 65px;
    border-radius: 12px;
    @media screen and (min-width: $breakpoint-xl) {
      width: 550px;
      padding: 100px 65px;
    }
  }
}
