@import 'src/styles/design-systems.module';

.sidebar-nav {
  background: $gradient-black;
  width: 100%;
  height: 100%;
  font-size: $font-xsm;
  @include flex-column;
  transition: 350ms;

  .sidebar-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $border-grey-light;
    height: 52px;
    text-decoration: none;
    font-size: $font-md;
    font-weight: $font-normal;
    margin-bottom: 8px;

    &:hover {
      background-color: $bg-black-translucent;
      cursor: pointer;
    }

    .sidebar-btn {
      display: flex;
      flex-grow: 1;
      align-items: center;

      .sidebar-icon {
        width: min-content;
      }
    }

    &.selected-nav {
      color: $pale-sky-blue;
      background-color: $bg-pale-slate-blue;

      .active-sidebar-vr {
        width: 2%;
        height: 100%;
        margin-left: 0;
        background-color: $pale-sky-blue;
      }
    }
    .inactive-sidebar-vr {
      width: 2%;
      height: 100%;
      margin-left: 0;
      background-color: transparent;
    }
  }

  .sidebar-label {
    margin-left: 20px;
  }

  .nav-icon {
    padding-left: 10px;
    margin-left: 16px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $border-grey-light;
  }

  .sidebar-bottom {
    flex-grow: 1;
    @include flex-column;
    justify-content: end;
    padding-bottom: 15px;

    .sidebar-important {
      font-weight: $font-boldest;
    }

    .sidebar-link {
      height: 50px;

      .sidebar-btn {
        justify-content: center;

        .nav-icon {
          filter: invert(24%) sepia(63%) saturate(516%) hue-rotate(104deg)
            brightness(96%) contrast(92%);
          margin-left: -10%;
        }
      }
    }
  }

  .logo-div {
    padding: 20px 30px 10px;
    height: 105px;
    text-align: left;
    display: flex;
    align-items: center;
  }

  .sidebar-division {
    border: 0;
    border-bottom: 0.6px solid $gray-muted;
    width: 100%;
    margin: 0 auto 12px;
  }

  .logo-img {
    object-fit: contain;
    width: 70%;
    height: 48px;
    max-width: 180px;
  }
}

