//font-sizes:
$font-xxl: 1.75rem; // 28px
$font-xl: 1.5rem; //24px
$font-lg-plus: 1.375rem; // 22px
$font-lg: 1.125rem; //18px
$font-md: 1rem; //16px
$font-sm: 0.875rem; //14px
$font-xsm: 0.75rem; //12px
$font-xxsm: 0.625rem; //10px
$font-xxxsm: 0.5rem; //8px

//font-weights:
$font-boldest: 800;
$font-bold: 700;
$font-bolder: 600;
$font-normal: 500;
$font-light: 400;
$font-lighter: 300;

