@import "src/styles/design-systems.module";
//IMPORTANT write all classes related to login form inside '.login-form' so they only affect this form and not entire application
.login-form {
  @include flex-column;
  gap: 5px;
  @extend %common-form-rules;

  .form-link {
    text-decoration: none;
    color: $deep-navy;
  }

  .eye-icon {
    position: absolute;
    top: 5%;
    right: 1%;
    z-index: 1;
  }

  .password-input-container {
    position: relative;
  }

  .MuiButtonBase-root[type='submit'] {
    background-color: $deep-navy;
    text-transform: none;
  }

  .MuiButtonBase-root:disabled {
    background-color: $gray-muted;
    color: $white-pure;
  }
}

.login-language-select {
  @extend .language-selection-dropdown;
  top: 10px;
}

.login-root {
  .bg-image {
    position: absolute;
    @include responsive-image;
    min-height: 500px;

    z-index: -1;
    filter: brightness(0.45) contrast(0.8);
  }

  .logo {
    width: 150px;
    object-fit: contain;
  }

  .form-container {
    @extend .center-element;
    top: 52%;
    position: absolute;
    width: 500px;
    background-color: $white-pure;
    padding: 60px 70px;
    border-radius: 12px;
    @media screen and (min-width: $breakpoint-xl) {
      width: 550px;
      padding: 60px 80px;
    }
  }
}

