@import 'src/styles/design-systems.module';

.header-container {
  display: flex;
  padding: 16px;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .selector-container {
    position: relative;
  }
}
